<h1>Admin/Events#Show</h1>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <h2><%= @event.title %> </h2>
      <h4><%= @event.subtitle %> </h4>
      <p><%= link_to "Back", events_path %></p>

      <h4>Films:</h4>
      <ul>
      <% @event.program_items.each do |item| %>
        <li>
          <%= item.film.title %>
          (<%= link_to "Remove Film", admin_event_program_item_path(@event, item), method: :delete %>)

        </li>
      <%end%>
    </ul>

      <!-- Add a film to an event -->
      <%= simple_form_for [:admin, @event, @program_item] do |f| %>
        <%= f.input :film_id, collection: Film.all, prompt: "Choose a movie" %>


         <!-- Error messages -->
        <% if @program_item.errors.any? %>
          <ul>
            <% @program_item.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>

        <%= f.submit "Add Film", class: "btn btn-primary" %>

      <% end %>

    </div>
  </div>
</div>

